/* Formatação da página index.html*/

*{
	box-sizing: border-box;
}
header{
	height: 60px;
	border-bottom: 1px solid #ccc;
}
.container{
	width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	
}
#eletros{
	padding: 80px 0;
}
#eletros .container::after{
	content: "";
	display: block;
	clear: both;
}
article{
	border:1px solid #95a4a5;
	width: 370px;
	padding: 10px;
	float: left;	
	margin-right: 30px;
	border-radius: 12px;
	
}

article > h2{
	background-color: #40cd26;
	color: #fff;
	text-align: center;
	line-height: 2.5;/*2.5 o tamanho da altura*/
	margin: -10px -10px 0 -10px;
	font-weight: normal;
	font-size: 28px;
	border-radius:12px 12px 0 0; 
}

article > div{
	text-align: center;
	font-size: 28px;
	margin: 20px 0;	
}


article >ul{
	list-style: none;	
	padding: 0;
	margin: 20px;
}
article > ul >li{
	text-align: center;
}

article>footer{
	text-align: center;
	margin: 30px 0px 10px 0 ;
}
article> footer > a{
	background-color: #45855e;
	color: #fff;
	text-decoration: none;
	padding: 10px 15px;
	border-radius: 5px;
}

article> footer > a:hover{
	background-color: #40cd26;
}


